.contact-section {
    padding: 52px 139px 70px;
}

.title-box span {
    color: #5863F8;
    font-family: 'Poppins', sans-serif;
    width: 59px;
    font-size: 14px;
    height: 21px;
    font-weight: 700;
    line-height: 21px;
}

.title-box h2 {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    width: 376px;
    font-size: 42px;
    height: 121px;
    font-weight: 500;
    line-height: 63px;
}

.title-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 16px;
    margin-top: 50px;
}

form textarea {
    width: 100%;
    height: 288px;
    background-color: #F8F8F8;
    border: 2px solid #E8E8E8;
    padding: 20px;
}

form textarea::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #CECECE;
}

form .littleclass {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 352px;
    height: 288px;
    flex-direction: column;
    gap: 16px;
}

form input {
    width: 100%;
    height: 60px;
    background-color: #F8F8F8;
    border: 2px solid #E8E8E8;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #CECECE;
}

form .littleclass input[type="submit"] {
    background-color: #5863F8;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    
    transition: all .3s ease-in-out;
}

form .littleclass input[type="submit"]:hover {
    background-color: #FFFFFF;
    border: 2px solid #5863F8;
    color: #5863F8
}

#contactinfo {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 50px;
}

.circle {
    background-color: #5863F8;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contactinfo h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin-top: 15px;
}

#contactinfo h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #B1B1B1;
    text-align: center;
    margin-top: 15px;
}

#photos p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #5863F8;
    font-weight: 700;
    margin-top: 70px;
    margin-left: 140px;
}

#photos h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    color: #000000;
    font-weight: 500;
    margin-top: 3px;
    margin-left: 140px; 
    width: 551px;
    height: 121px;
    line-height: 63px;
}

.image {
    width: 352px;
    height: 352px;
    gap: 85px;
    display: flex;
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 50px;
}

footer {
    padding: 140px 62px;
    background-color: #121212;
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.footericons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 33px;
}

.one h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    width: 148px;
    height: 36px;
}

.one p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    width: 264px;
    height: 84px;
}
.two {
    margin-left: 200px;
}

.two h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    width: 105px;
    height: 27px;
}

.two li {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infocontact {
    margin-left: 121px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.infocontact h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px; 
}

.infocontact div {
    display: flex;
    gap: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}